@model IEnumerable<EPPs.Models.previoInventario_detalle>

<table class="table table-sm table-bordered table-striped align-middle">
    <thead>
        <tr>
            <th>Código</th>
            <th>Artículo</th>
            <th>Cantidad</th>
            <th>Seleccionar</th> 
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var d in Model)
            {
                <tr>
                    <td>@d.Codigo</td>
                    <td>@d.Articulo</td>
                    <td>@d.Cantidad</td>
                    <td class="text-center">
                        <input type="checkbox" name="detalleSeleccionado" value="@d.Codigo" />
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6" class="text-center">Sin detalles</td></tr>
        }
    </tbody>
</table>
